[buildout]

# buildout options
show-picked-versions = true
newest = true
versions = versions
download-cache = downloads
log-level = INFO

## extensions

# use python site-packages
# https://pypi.python.org/pypi/buildout.locallib/ 
extensions = buildout.locallib

parts = 
      ncwms

[settings]
# tomcat config
http-port = 8080
tomcat-xms = 128m
tomcat-xmx = 1024m
tomcat-maxpermsize = 128m
tomcat-ncwms-password =
# ncwms config
contact = Birdhouse Admin
organization = Birdhouse
title = Birdhouse ncWMS2 Server
abstract = ncWMS2 Web Map Service used in Birdhouse
keywords = birdhouse,ncwms,wms
url = http://bird-house.github.io/
allowglobalcapabilities = true
enablecache = false
updateInterval = 1

[versions]
birdhousebuilder.recipe.conda = 0.3.6
birdhousebuilder.recipe.ncwms = 0.4.1
birdhousebuilder.recipe.tomcat = 0.3.3
birdhousebuilder.recipe.docker = 0.5.3

[ncwms]
recipe = birdhousebuilder.recipe.ncwms
prefix = ${settings:prefix}
user = ${settings:user}
etc-user = ${settings:etc-user}
# tomcat
http_port = ${settings:http-port}
Xms = ${settings:tomcat-xms}
Xmx = ${settings:tomcat-xmx}
MaxPermSize = ${settings:tomcat-maxpermsize}
ncwms_password = ${settings:tomcat-ncwms-password}
# ncwms
contact = ${settings:contact}
organization = ${settings:organization}
title = ${settings:title}
abstract = ${settings:abstract}
keywords = ${settings:keywords}
url = ${settings:url}
allowglobalcapabilities = ${settings:allowglobalcapabilities}
enablecache = ${settings:enablecache}
updateInterval = ${settings:updateInterval}

[docker]
recipe = birdhousebuilder.recipe.docker
vendor = Reading eScience Centre
maintainer = https://github.com/bird-house/birdhouse-playground/tree/master/ncwms2
description = ncWMS2 Web Map Service
command = make update-config update-user start
version = 2.2.8
expose = 8080

           

